<div id="<%= dom_id website %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= website.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= website.user_id %>
  </div>
</div>
