<% content_for :title, "Editing website" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing website</h1>

  <%= render "form", website: @website %>

  <%= link_to "Show this website", @website, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to websites", websites_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
